.vc-container {
  --rounded-full: 8px;
  --blue-600: var(--color-secondary);
  --gray-900: var(--color-gray-06);
  border: 0;
}

.vc-title {
  font-size: 0.875rem;
  font-weight: normal;
  font-family: var(--font-family);
}
.vc-weekday {
  color: var(--color-gray-06);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.625rem;
}
.vc-day-content {
  font-size: 0.875rem;
}
